@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


$primaryColor:#444446;

  


@media only screen and (min-width: 800px) {
   .navbar-nav{
       margin-right: 10%;
    font-size: large;
   }
   .nav-item{
       margin-right: 20%;
   }
  }

  html {
    scroll-behavior: smooth;
  }
  nav{
      background: #414d65;
      box-shadow: 1px 2px 8px rgba(0,0,0,0.3);
     
      .nav-item{
        a{
            color: #F8E1D0;
            
            &:hover{
                color: rgb(233, 78, 78);
            }
      } 
    }
  }

  .navbar{
    font-family: 'Open Sans', serif;
    font-weight: 900;
    
  }


  .navbar-brand{
    img{
      position: relative;;
      width: 70px;
      height: 70px;
      
    }
  }

  .carousel-item{
        // height: 98vh;
        
        // background: no-repeat center center scroll;
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover;
      }

      .slider-images {
        // border: 1px solid red;
        width: 100%;
        height: 630px;
        background-size: cover;
        background-position: center;
      }

      .navbar-toggler{
          span{
              color: #F8E1D0;
          }
      }

      .about-bg,.contact{

        position: relative;
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
       align-items: center;
        h2{
            color: seashell;
           font-weight: bolder;
           text-shadow: 0 0 10px rgb(0, 0, 0) ; 
          
           padding: 10px;
           border-radius: 15px;
           
         
           
        }
      }

      
     
      .about-bg{
          background-image: url('../../img/dubai.jpg');
          min-height: 150px;
      }
      .about{
        font-family: 'Open Sans', sans-serif;
        background: #1e2430;
          color: #ffffff;
          padding: 40px;
          // box-shadow: 0 0 10px 10px #686868;
          text-align: center;
          
          p{
                font-size: 16px;
            letter-spacing: 1.2;
          }
      }

     
      .contact {
        background-image: url('../../img/dubai.jpg');
        padding: 5rem 0 0;
        font-family: 'Open Sans', sans-serif;
        .card {
          border: 0;
          border-bottom: 0.25rem solid  $primaryColor;
          h4 {
            font-size: 0.8rem;
            font-family: 'Open Sans';
            text-transform: uppercase;
            letter-spacing: 0.15rem;
          }
          hr {
            border-color: $primaryColor;
            border-width: 0.25rem;
            width: 3rem;
          }
        }
        .media {
          margin-top: 5rem;
          padding: 20px;

          a {
            text-align: center;
            height: 3rem;
            width: 3rem;
            background: #ecefed;
            border-radius: 100%;
            line-height: 3rem;
            text-decoration: none;
            color:#ecefed ;

            &:hover {
              color: #ecefed;
              text-decoration: none;
            }
            
            &:active {
              color: #ffffff;
              text-decoration: none;
            }
          }
        }
      }
      
      i{
          color:  $primaryColor;
      }

      footer{
          padding: 10px;
          width: 100%;
          height: 5vh;
          background: #1e2430;
      }

      a{
       

        text-decoration: none;
        color: #000000;

        &:hover{
            text-decoration: none;
            color: #313131;
        }
      }



      .industy-img{
        background-image: url('../../img/dubai.jpg');
         background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      
        
        img{
          width: 300px;
          height: 250px;
          padding: 10px;
          margin: 10px;
          border-radius: 2%;
        }
      }


      @media only screen and (max-width: 1000px) {
        .carousel-item{
          height: 100%;
        }
          
      }

    
     

      @media only screen and (max-width: 1100px) {
        .navbar-brand{
          span{
            font-size: medium;
          }
        }

        .nav-item{
          font-size: medium;
        }
      }

      @media only screen and (max-width: 1000px) {
        .navbar-brand{
          span{
            font-size: small;
          }
        }

        .nav-item{
          font-size: small;
        }
      }

      @media only screen and (max-width: 786px) {
        .navbar-brand{
          span{
            font-size: 12px;
          }
        }

        .nav-item{
          font-size: small;
        }
      }

body{
  background:#293243;
  .wrapper{
    position: relative;
    top: 93px;
  }
}