@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


$primaryColor:#444446;

*{
    font-family: 'Varela Round', sans-serif;
}

@media only screen and (min-width: 800px) {
   .navbar-nav{
       margin-right: 10%;
    font-size: large;
   }
   .nav-item{
       margin-right: 20%;
   }
  }

  html {
    scroll-behavior: smooth;
  }
  nav{
      background: #444446c7;
     
      nav-item{
        a{
            color: #ffffff;
            
            &:hover{
                color: rgb(233, 78, 78);
            }
      } 
    }
  }

  .navbar{
    font-family:'BernardMTCondensed';
    font-weight: 900;
    
  }


  .navbar-brand{
    img{
      position: relative;;
      width: 70px;
      height: 70px;
      
    }
  }

  .carousel-item{
        height: 98vh;
        
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .navbar-toggler{
          span{
              color: white;
          }
      }

      .about-bg,.contact{

        position: relative;
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
       align-items: center;
        h2{
            color: seashell;
           font-weight: bolder;
           text-shadow: 0 0 10px rgb(0, 0, 0) ; 
          
           padding: 10px;
           border-radius: 15px;
           box-shadow: 0 0 10px #ffffff;
            cursor: pointer;
           &:hover{
            transform: scale(1.2);
           }
        }
      }

      
     
      .about-bg{
          background-image: url('../../img/dubai.jpg');
          min-height: 150px;
      }
      .about{
        background: $primaryColor;
          color: #ffffff;
          padding: 40px;
          box-shadow: 0 0 10px 10px #686868;
          text-align: center;
          
          p{
            font-size: larger;
            letter-spacing: 1.2;
          }
      }

     
      .contact {
        background-image: url('../../img/dubai.jpg');
        padding: 5rem 0 0;
        .card {
          border: 0;
          border-bottom: 0.25rem solid  $primaryColor;
          h4 {
            font-size: 0.8rem;
            font-family: 'Varela Round';
            text-transform: uppercase;
            letter-spacing: 0.15rem;
          }
          hr {
            border-color: $primaryColor;
            border-width: 0.25rem;
            width: 3rem;
          }
        }
        .media {
          margin-top: 5rem;
          padding: 20px;

          a {
            text-align: center;
            height: 3rem;
            width: 3rem;
            background: #ecefed;
            border-radius: 100%;
            line-height: 3rem;
            text-decoration: none;
            color:#ecefed ;

            &:hover {
              color: #ecefed;
              text-decoration: none;
            }
            
            &:active {
              color: #ffffff;
              text-decoration: none;
            }
          }
        }
      }
      
      i{
          color:  $primaryColor;
      }

      footer{
          padding: 10px;
          width: 100%;
          height: 5vh;
          background: $primaryColor;
      }

      a{
       

        text-decoration: none;
        color: #000000;

        &:hover{
            text-decoration: none;
            color: #313131;
        }
      }

      @media only screen and (max-width: 1000px) {
        .carousel-item{
          height: 100%;
        }
          
      }

    
     

      @media only screen and (max-width: 1100px) {
        .navbar-brand{
          span{
            font-size: medium;
          }
        }

        .nav-item{
          font-size: medium;
        }
      }

      @media only screen and (max-width: 1000px) {
        .navbar-brand{
          span{
            font-size: small;
          }
        }

        .nav-item{
          font-size: small;
        }
      }

      @media only screen and (max-width: 786px) {
        .navbar-brand{
          span{
            font-size: 8px;
          }
        }

        .nav-item{
          font-size: small;
        }
      }
